/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/nbproject


.vagrant
app/config/packages/mashape/unirest-php/config.php
public/testuj.php
notatki.txt
app/config/packages/mashape/unirest-php/config.php