/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

/nbproject
.idea/

.vagrant
app/config/packages/mashape/unirest-php/config.php
public/testuj.php
notatki.txt
app/config/packages/mashape/unirest-php/config.php
/www/